@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  background: url('bilder/hintergrund-landing.jpg');
}
body, input[text], button {
  font-family: Roboto;
}
a {
  cursor: pointer;
  cursor: hand;
}

.ng-cloak {
	display: none;
}
.has-error .form-control {
	background-color: #f2dede;
}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak
	{
	display: none !important;
}